/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #cee21a;
    color: rgb(245, 240, 240);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #ebde30;
}

/* Add a background color and some padding around the form */